Options -MultiViews
RewriteEngine On

RewriteBase /ias84-conf

RewriteCond %{REQUEST_URI}  show/presentation/.*
RewriteRule show/presentation/(.*?)/(.*) http://192.168.1.101/ias-cms/public/data/meetings/$1/$2/presentation.pdf [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
